In [78]:
#Important Steps in ML Template

#1) Loading Packages
#2) Loading the data(reading the data)
#3) Identify target variable and unique Id
#4) Create separate variables for target variable and unique id
#5) Drop target variable and unique id from the dataframe
#6) Creating separate dataframes for categorical and numerical

#Pre Processing

#7) Identify the columns with null values and thier count
#8) Imputations for numerical data
#9) Encoding
#10) Concat both imputed numerical and encoded categorical data


#11) Splitting the data into train and test datasets
#12) Feature Selection
#13) we build the model using selected features
#14) default model
#15) we also build model with hyperparameter values
#Model Evaluation
#16) Hyperparameter Tuning- GridSearchCV
#17) Pickle

In [121]:

import pandas as pd
data=pd.read_csv('BackOrders_Development.csv')

In [79]:
data

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1682848,11,12.0,0,0,0,0,7,23,47,...,0,0.93,0.95,0,Yes,No,No,Yes,No,No
1,1952807,7,4.0,0,0,0,0,0,0,0,...,0,0.24,0.14,0,Yes,No,No,Yes,No,No
2,1990960,1,8.0,0,8,8,8,1,2,7,...,0,0.00,0.00,0,No,No,No,Yes,No,Yes
3,3250836,36,12.0,1,5,30,35,8,23,44,...,0,0.33,0.40,0,No,No,Yes,Yes,No,No
4,3275747,11,8.0,0,0,6,12,1,5,16,...,0,0.18,0.38,0,No,No,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,1397275,6,8.0,0,24,24,24,0,7,9,...,0,0.98,0.98,0,No,No,No,Yes,No,No
60585,3072139,130,2.0,0,40,80,140,18,108,230,...,0,0.51,0.28,0,No,No,No,Yes,No,No
60586,1909363,135,9.0,0,0,0,0,10,40,65,...,0,1.00,0.99,0,No,No,Yes,Yes,No,No
60587,1845783,63,NaN,0,0,0,0,452,1715,3425,...,0,-99.00,-99.00,1,No,No,No,No,No,Yes
60588,1200539,0,2.0,0,8,8,8,0,1,1,...,0,0.79,0.78,0,Yes,No,No,Yes,No,Yes

In [111]:
data.shape

(60589, 23)

In [80]:
#Q2) Replace the values of  'went_on_backorder' from’yes’ or ‘no’ to 1 or 0 
data['went_on_backorder'] = data['went_on_backorder'].map({'Yes': 1, 'No': 0})
data['went_on_backorder']

0        0
1        0
2        1
3        0
4        0
        ..
60584    0
60585    0
60586    0
60587    1
60588    1
Name: went_on_backorder, Length: 60589, dtype: int64

In [81]:
data_col=data.columns.tolist()
data_col

['sku',
 'national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'potential_issue',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [82]:
target_variable=data['went_on_backorder']

In [83]:
Unique_ID=data['sku']

In [84]:
data1=data.drop('went_on_backorder',axis=1)
data1

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,1682848,11,12.0,0,0,0,0,7,23,47,...,No,0,0.93,0.95,0,Yes,No,No,Yes,No
1,1952807,7,4.0,0,0,0,0,0,0,0,...,No,0,0.24,0.14,0,Yes,No,No,Yes,No
2,1990960,1,8.0,0,8,8,8,1,2,7,...,No,0,0.00,0.00,0,No,No,No,Yes,No
3,3250836,36,12.0,1,5,30,35,8,23,44,...,No,0,0.33,0.40,0,No,No,Yes,Yes,No
4,3275747,11,8.0,0,0,6,12,1,5,16,...,No,0,0.18,0.38,0,No,No,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,1397275,6,8.0,0,24,24,24,0,7,9,...,No,0,0.98,0.98,0,No,No,No,Yes,No
60585,3072139,130,2.0,0,40,80,140,18,108,230,...,No,0,0.51,0.28,0,No,No,No,Yes,No
60586,1909363,135,9.0,0,0,0,0,10,40,65,...,No,0,1.00,0.99,0,No,No,Yes,Yes,No
60587,1845783,63,NaN,0,0,0,0,452,1715,3425,...,No,0,-99.00,-99.00,1,No,No,No,No,No
60588,1200539,0,2.0,0,8,8,8,0,1,1,...,No,0,0.79,0.78,0,Yes,No,No,Yes,No

In [85]:
data2=data1.drop('sku',axis=1)
data2

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,11,12.0,0,0,0,0,7,23,47,65,...,No,0,0.93,0.95,0,Yes,No,No,Yes,No
1,7,4.0,0,0,0,0,0,0,0,0,...,No,0,0.24,0.14,0,Yes,No,No,Yes,No
2,1,8.0,0,8,8,8,1,2,7,11,...,No,0,0.00,0.00,0,No,No,No,Yes,No
3,36,12.0,1,5,30,35,8,23,44,54,...,No,0,0.33,0.40,0,No,No,Yes,Yes,No
4,11,8.0,0,0,6,12,1,5,16,30,...,No,0,0.18,0.38,0,No,No,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,6,8.0,0,24,24,24,0,7,9,12,...,No,0,0.98,0.98,0,No,No,No,Yes,No
60585,130,2.0,0,40,80,140,18,108,230,317,...,No,0,0.51,0.28,0,No,No,No,Yes,No
60586,135,9.0,0,0,0,0,10,40,65,89,...,No,0,1.00,0.99,0,No,No,Yes,Yes,No
60587,63,NaN,0,0,0,0,452,1715,3425,4864,...,No,0,-99.00,-99.00,1,No,No,No,No,No
60588,0,2.0,0,8,8,8,0,1,1,1,...,No,0,0.79,0.78,0,Yes,No,No,Yes,No

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60589 entries, 0 to 60588
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   national_inv       60589 non-null  int64
 1   lead_time          57236 non-null  float64
 2   in_transit_qty     60589 non-null  int64
 3   forecast_3_month   60589 non-null  int64
 4   forecast_6_month   60589 non-null  int64
 5   forecast_9_month   60589 non-null  int64
 6   sales_1_month      60589 non-null  int64
 7   sales_3_month      60589 non-null  int64
 8   sales_6_month      60589 non-null  int64
 9   sales_9_month      60589 non-null  int64
 10  min_bank           60589 non-null  int64
 11  potential_issue    60589 non-null  object
 12  pieces_past_due    60589 non-null  int64
 13  perf_6_month_avg   60589 non-null  float64
 14  perf_12_month_avg  60589 non-null  float64
 15  local_bo_qty       60589 non-null  int64
 16  deck_risk          60589 non-null  object
 17  oe_constraint      60589 non-null  object
 18  ppap_risk          60589 non-null  object
 19  stop_auto_buy      60589 non-null  object
 20  rev_stop           60589 non-null  object
dtypes: float64(3), int64(12), object(6)
memory usage: 9.7+ MB

In [86]:
data2.select_dtypes(include=['float64','int64'])

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,11,12.0,0,0,0,0,7,23,47,65,13,0,0.93,0.95,0
1,7,4.0,0,0,0,0,0,0,0,0,0,0,0.24,0.14,0
2,1,8.0,0,8,8,8,1,2,7,11,0,0,0.00,0.00,0
3,36,12.0,1,5,30,35,8,23,44,54,2,0,0.33,0.40,0
4,11,8.0,0,0,6,12,1,5,16,30,1,0,0.18,0.38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,6,8.0,0,24,24,24,0,7,9,12,1,0,0.98,0.98,0
60585,130,2.0,0,40,80,140,18,108,230,317,34,0,0.51,0.28,0
60586,135,9.0,0,0,0,0,10,40,65,89,2,0,1.00,0.99,0
60587,63,NaN,0,0,0,0,452,1715,3425,4864,542,0,-99.00,-99.00,1
60588,0,2.0,0,8,8,8,0,1,1,1,0,0,0.79,0.78,0

In [87]:
data2.select_dtypes(include=['object'])

      potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0                  No       Yes            No        No           Yes       No
1                  No       Yes            No        No           Yes       No
2                  No        No            No        No           Yes       No
3                  No        No            No       Yes           Yes       No
4                  No        No            No        No           Yes       No
...               ...       ...           ...       ...           ...      ...
60584              No        No            No        No           Yes       No
60585              No        No            No        No           Yes       No
60586              No        No            No       Yes           Yes       No
60587              No        No            No        No            No       No
60588              No       Yes            No        No           Yes       No

[60589 rows x 6 columns]

In [88]:
data_num=data2.select_dtypes(include=['float64','int64'])
data_num

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,11,12.0,0,0,0,0,7,23,47,65,13,0,0.93,0.95,0
1,7,4.0,0,0,0,0,0,0,0,0,0,0,0.24,0.14,0
2,1,8.0,0,8,8,8,1,2,7,11,0,0,0.00,0.00,0
3,36,12.0,1,5,30,35,8,23,44,54,2,0,0.33,0.40,0
4,11,8.0,0,0,6,12,1,5,16,30,1,0,0.18,0.38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,6,8.0,0,24,24,24,0,7,9,12,1,0,0.98,0.98,0
60585,130,2.0,0,40,80,140,18,108,230,317,34,0,0.51,0.28,0
60586,135,9.0,0,0,0,0,10,40,65,89,2,0,1.00,0.99,0
60587,63,NaN,0,0,0,0,452,1715,3425,4864,542,0,-99.00,-99.00,1
60588,0,2.0,0,8,8,8,0,1,1,1,0,0,0.79,0.78,0

In [89]:
data_cat=data2.select_dtypes(include=['object'])
data_cat

      potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0                  No       Yes            No        No           Yes       No
1                  No       Yes            No        No           Yes       No
2                  No        No            No        No           Yes       No
3                  No        No            No       Yes           Yes       No
4                  No        No            No        No           Yes       No
...               ...       ...           ...       ...           ...      ...
60584              No        No            No        No           Yes       No
60585              No        No            No        No           Yes       No
60586              No        No            No       Yes           Yes       No
60587              No        No            No        No            No       No
60588              No       Yes            No        No           Yes       No

[60589 rows x 6 columns]

In [90]:
data_num_col=data_num.columns.tolist()
data_num_col

['national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty']

In [91]:
data_cat_col=data_num.columns.tolist()
data_cat_col

['national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty']

In [92]:
def show_missing(data):
    missing=data2.columns[data2.isnull().any()].tolist()
    return missing

In [93]:
missing_col_num=show_missing(data_num)
missing_count_num=data_num[missing_col_num].isnull().sum()

In [94]:
 missing_col_num

['lead_time']

In [95]:
missing_count_num

lead_time    3353
dtype: int64

In [96]:
data_num['lead_time'].median()

8.0

In [97]:
data_num['lead_time'].mean()

7.555210007687469

In [98]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median') 
data_num_after_impute=imputer.fit_transform(data_num)

In [99]:
data_num_after_impute

array([[ 11.  ,  12.  ,   0.  , ...,   0.93,   0.95,   0.  ],
       [  7.  ,   4.  ,   0.  , ...,   0.24,   0.14,   0.  ],
       [  1.  ,   8.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       ...,
       [135.  ,   9.  ,   0.  , ...,   1.  ,   0.99,   0.  ],
       [ 63.  ,   8.  ,   0.  , ..., -99.  , -99.  ,   1.  ],
       [  0.  ,   2.  ,   0.  , ...,   0.79,   0.78,   0.  ]])

In [100]:
data_num_after_impute_df=pd.DataFrame(data_num_after_impute,columns=data_num_col)
data_num_after_impute_df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,11.0,12.0,0.0,0.0,0.0,0.0,7.0,23.0,47.0,65.0,13.0,0.0,0.93,0.95,0.0
1,7.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.24,0.14,0.0
2,1.0,8.0,0.0,8.0,8.0,8.0,1.0,2.0,7.0,11.0,0.0,0.0,0.00,0.00,0.0
3,36.0,12.0,1.0,5.0,30.0,35.0,8.0,23.0,44.0,54.0,2.0,0.0,0.33,0.40,0.0
4,11.0,8.0,0.0,0.0,6.0,12.0,1.0,5.0,16.0,30.0,1.0,0.0,0.18,0.38,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60584,6.0,8.0,0.0,24.0,24.0,24.0,0.0,7.0,9.0,12.0,1.0,0.0,0.98,0.98,0.0
60585,130.0,2.0,0.0,40.0,80.0,140.0,18.0,108.0,230.0,317.0,34.0,0.0,0.51,0.28,0.0
60586,135.0,9.0,0.0,0.0,0.0,0.0,10.0,40.0,65.0,89.0,2.0,0.0,1.00,0.99,0.0
60587,63.0,8.0,0.0,0.0,0.0,0.0,452.0,1715.0,3425.0,4864.0,542.0,0.0,-99.00,-99.00,1.0
60588,0.0,2.0,0.0,8.0,8.0,8.0,0.0,1.0,1.0,1.0,0.0,0.0,0.79,0.78,0.0

In [101]:
missing_col_num=show_missing(data_num_after_impute_df)
missing_col_num

['lead_time']

In [102]:
data_cat_col

['national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty']

In [103]:
data_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60589 entries, 0 to 60588
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   potential_issue  60589 non-null  object
 1   deck_risk        60589 non-null  object
 2   oe_constraint    60589 non-null  object
 3   ppap_risk        60589 non-null  object
 4   stop_auto_buy    60589 non-null  object
 5   rev_stop         60589 non-null  object
dtypes: object(6)
memory usage: 2.8+ MB

In [104]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

In [105]:
data_cat_encoded=pd.get_dummies(data_cat,drop_first=True)

In [106]:
data_cat_encoded.head()

,potential_issue_Yes,deck_risk_Yes,oe_constraint_Yes,ppap_risk_Yes,stop_auto_buy_Yes,rev_stop_Yes
0,0,1,0,0,1,0
1,0,1,0,0,1,0
2,0,0,0,0,1,0
3,0,0,0,1,1,0
4,0,0,0,0,1,0

In [107]:
total_data=pd.concat([data_num_after_impute_df,data_cat_encoded],axis=1)
total_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Yes,deck_risk_Yes,oe_constraint_Yes,ppap_risk_Yes,stop_auto_buy_Yes,rev_stop_Yes
0,11.0,12.0,0.0,0.0,0.0,0.0,7.0,23.0,47.0,65.0,...,0.0,0.93,0.95,0.0,0,1,0,0,1,0
1,7.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.24,0.14,0.0,0,1,0,0,1,0
2,1.0,8.0,0.0,8.0,8.0,8.0,1.0,2.0,7.0,11.0,...,0.0,0.00,0.00,0.0,0,0,0,0,1,0
3,36.0,12.0,1.0,5.0,30.0,35.0,8.0,23.0,44.0,54.0,...,0.0,0.33,0.40,0.0,0,0,0,1,1,0
4,11.0,8.0,0.0,0.0,6.0,12.0,1.0,5.0,16.0,30.0,...,0.0,0.18,0.38,0.0,0,0,0,0,1,0

In [108]:
total_data.shape

(60589, 21)

In [112]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(total_data, target_variable, test_size=0.25, random_state=42)

In [113]:
x_train.shape

(45441, 21)

In [114]:
x_test.shape

(15148, 21)

In [115]:
y_train.shape

(45441,)

In [116]:
y_test.shape

(15148,)

In [117]:
y_train

16582    0
43629    0
22498    0
37173    0
42206    1
        ..
54343    0
38158    0
860      0
15795    0
56422    0
Name: went_on_backorder, Length: 45441, dtype: int64

In [118]:
y_test

22120    0
58647    1
35922    0
35860    0
1866     0
        ..
53449    0
16420    0
15851    0
13983    0
35528    0
Name: went_on_backorder, Length: 15148, dtype: int64

In [119]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(random_state=42)

rfe_RF=RFE(RF,n_features_to_select=15,verbose=21)

rfe_RF.fit(x_train,y_train)
names=x_train.columns.tolist()
b=rfe_RF.ranking_



a=pd.DataFrame(sorted(list(map(lambda x,y: (x,y),b,names))),columns=['rank','features'])
a.to_csv('feature_selection.csv')

RFE_selected=a['features'][a['rank']==1]

Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.

In [120]:
RFE_selected

0         deck_risk_Yes
1      forecast_3_month
2      forecast_6_month
3      forecast_9_month
4        in_transit_qty
5             lead_time
6          local_bo_qty
7              min_bank
8          national_inv
9     perf_12_month_avg
10     perf_6_month_avg
11        sales_1_month
12        sales_3_month
13        sales_6_month
14        sales_9_month
Name: features, dtype: object

In [122]:
x_train=x_train[RFE_selected]

In [123]:
x_test=x_test[RFE_selected]

In [124]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier()
RF_model.fit(x_train,y_train)

RandomForestClassifier()

In [125]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,n_estimators=9)
RF_model.fit(x_train,y_train)

RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,
                       n_estimators=9)

In [126]:
pred=RF_model.predict(x_test)

In [129]:
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, pred)
accuracy_test

0.884011090573013

In [130]:
from sklearn.model_selection import GridSearchCV
param_grid = {"n_estimators" : [90, 180],
              "max_depth" : [2,3],
              "min_samples_leaf" : [2, 4],
              "max_features" : [0.4,0.5]
             }

#Use the GridSearchCV
RF_model=RandomForestClassifier() #estimator
clf = GridSearchCV(RF_model, param_grid, cv=3)
clf.fit(x_train,y_train)
clf.best_estimator_

RandomForestClassifier(max_depth=3, max_features=0.4, min_samples_leaf=2,
                       n_estimators=90)

In [131]:
pred=clf.best_estimator_.predict(x_test)

#black box Evaluation metrics
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, pred)
accuracy_test

0.8741748085555849

In [132]:
import pickle as pk

my_first_out=open('my_first_pickle_file_withRFE_RF_cmr.pickle','wb')

pk.dump(clf.best_estimator_,my_first_out)

my_first_out.close()