In [ ]:
Datatypes : 
    1. int 10 15 
    2. float 10.255 56.555
    3. str 'Hi' "Python" """Welcome to python """
    4. list [45,70,80,50,60] [10,20,30,40,"Python","Java",[100,200,300,400]]
    5. tuple (10,20,30,40,"Python","Java")
    6. dict {"email":"abc@gmail.com","contact":"9744455888","age":57}
    7. set {10,20,30,40}
    8. bool True False

In [ ]:
#we need operators to process information
#we need operators to process variables

In [ ]:
Opeartors :
    1. Arithmetic Operator 
    2. Comparison operators 
    3. Memership operators 
    4. Identity Operators 
    5. Assignment operator
    6. Logical Operators

In [ ]:
Opeartors :
    1. Arithmetic Operator : +,-,*,/,**, 
                    // => floor division ,% => mod(reminder), / => Truedivision 
    2. Comparison operators ==,<,>,<=,>= ,!= => True/False 
    3. Memership operators : in , not in
    4. Identity Operators : is , is not
    5. Assignment operator =,+=,-=,*=,/=
    6. Logical Operators and, or, not
    
    ceil... floor

In [1]:
10+25

35

In [ ]:
1. Arithmetic Operator : +,-,*,/,**, 
                    // => floor division ,% => mod(reminder), / => Truedivision

In [ ]:
"""

ceil... floor
5 is the floor of 5.3
6 is the ceil of 5.3

In [2]:
#adding two values
3+2

5

In [3]:
#adding variables
a=3
b=2

c=a+b

In [4]:
c

5

In [5]:
10 / 3

#Division

3.3333333333333335

In [6]:
10//3

#quotient

3

In [7]:
10 % 3

#reminder

1

In [8]:
a=10
b=3

type(a/b)

float

In [9]:
type(a//b)

int

In [ ]:
#printing values

In [10]:
#print number
print(2017)

2017

In [11]:
print(100)

100

In [12]:
c

5

In [13]:
# to print the values in a variable
print(c)

5

In [14]:
#print string
print('surgeclasses')

surgeclasses

In [15]:
print(100)

100

In [16]:
print(10 / 3)

3.3333333333333335

In [17]:
print(10+3)

13

In [18]:
print(10 // 3)

3

In [19]:
print(10 % 3)

1

In [20]:
print(10*2)

20

In [21]:
#power
print(10 ** 2)

100

In [20]:
#check
print(10 *** 2)

SyntaxError: invalid syntax (Temp/ipykernel_10520/481438107.py, line 2)

In [ ]:
#invalid syntax

In [22]:
print(10 ** 3)

1000

In [23]:
print(10 ** 4)

10000

In [ ]:
# arithmetic operators

In [ ]:
# observation
# when we use some arithmetic operator between two varaibles we are getting some value

In [ ]:
2. Comparison operators ==,<,>,<=,>= ,!= => 

output: True/False

In [ ]:
#if we use any comparision operator, we will get true or false

In [24]:
10 > 5

True

In [25]:
10 < 5

False

In [26]:
10 == 5 #..... equality

False

In [27]:
1 != 3 #..... ~

True

In [28]:
10 > 5
10 < 5

#your getting only last executed statement result

False

In [29]:
print(10 > 5)
print(10 < 5)
print(10 >= 5)
print(10 <= 5)
print(10 == 5)
print(10 != 5)

True
False
True
False
False
True

In [ ]:
#how to check whether a number is even?

In [ ]:
even no.s are divisible by 2

2|num...... reminder= equals to 0

In [30]:
15%2 == 0

False

In [31]:
10%2

0

In [32]:
11%2

1

In [33]:
10%2 == 0

#0 == 0 (True)

#10 is even

True

In [34]:
11%2 == 0

#1 == 0 (False)

#11 is not even

False

In [ ]:
#number%2 == 0 (condition)

In [35]:
number = 107

number%2 == 0

False

In [36]:
number = 1000

number%2 == 0

True

In [ ]:
#logic

even : reminder is 0 when number divided by 2    
not even: reminder is 1 when number divided by 2    
    
#compute reminder my_num%2
#check  whether obtained reminder is 0 or 1 my_num%2 ==0

In [ ]:
#it has to be divisble by 2

number%2..... reminder

number%2 == 0

In [37]:
number=27
number%2 == 0

False

In [38]:
number=22
number%2 == 0

True

In [ ]:
# whether to watch TV or not 

#two possibilities...... two stituations based on free time

#condition: Free_time
    
two possible actions: watches TV
                      does not watch TV

        when will you watch TV.... if there is Free time
        
        when we dont watch TV...... if there is no free time
        
        
        
if else..... decision making..... conditional statements

In [ ]:
#syntax for if else
if(condition)
    action_1
else
    action_2
    
when condition is true if statements will be executed (action_1)
when condition is false else statements will be executed (action_2)

In [39]:
if (condition):
    action_1
else:
    action_2

NameError: name 'condition' is not defined

In [ ]:
condition: having free time
    action_1... watches TV
    action_2... does not watch TV

In [ ]:
condition will be either true or false

we use comparision operators bcz it gives true or false

In [ ]:
Later

In [ ]:
conditional statements..... if else.... comparison operators are used in condition

eg: 10 == 5

In [ ]:
#print number is even when the number is even?

In [ ]:
num=

if condition:
    action_1(if statements)
else:
    action_2(else statements)
    
condition

num%2 == 0

if num%2 == 0:
    print('the number is even')
else:
    print('the number is odd')

In [40]:
num=101
if num%2 == 0:
    print('the number is even and if statement is executed bcz condition is true')
else:
    print('the number is odd and else statement is executed bcz condition is false')

the number is odd and else statement is executed bcz condition is false

In [41]:
num=1000

if num%2 == 0:
    print('given num is even')
else:
    print('given num is not even')

given num is even

In [42]:
#number%2 ==0   condition
number=1001
if number%2 ==0:
    print('number is even')
else:
    print('number is not even')

number is not even

In [43]:
var=48

#condition: var%2 == 0
    
if var%2 == 0:
    print('my first if statement execution')
else:
    print('my first else statement execution')

my first if statement execution

In [44]:
var=47

#condition: var%2 == 0
    
if var%2 == 0:
    print('my first if statement execution')
else:
    print('my first else statement execution')

my first else statement execution

In [45]:
# identify even numbers

#number%2==0.... condition to identify even numbers
number=27
if number%2==0:
    print('number is even')
else:
    print('number is odd')

number is odd

In [46]:
number=26
if number%2==0:
    print('number is even')
else:
    print('number is odd')

number is even

In [ ]:
if(condition):
    action_1
else:
    action_2

In [47]:
10>5

True

In [ ]:
if(10>5)
    action_1
    #if 10>5 action_1 will be executed
else
    action_2
    #if 10<5 action_2 will be executed

In [48]:
if 10>5:
    print('I am Awesome')
    #if 10>5 action_1 will be executed
else:
    print('I am not awesome')
    #if 10<5 action_2 will be executed

I am Awesome

In [49]:
a=10
b=20

In [ ]:
if(a>b):..... #condition is false
    action_1.... print('surgeclasses is awesome')
    #if a>b action_1 will be executed
else
    action_2.... print('surgeclasses is super awesome')
    #if a<b action_2 will be executed
    
    output:surgeclasses is super awesome

In [50]:
a=10
b=2

In [51]:
if a>b:
    print('surge is awesome')
else:
    print('surge is super awesome')

surge is awesome

In [52]:
a=10
b=20

if a>b:
    print('surge is awesome')
else:
    print('surge is super awesome')

surge is super awesome

In [ ]:
if(a>b):..... #condition is true
    action_1.... print('surgeclasses is awesome')
    #if a>b action_1 will be executed
else
    action_2.... print('surgeclasses is super awesome')
    #if a<b action_2 will be executed
    
    output:surgeclasses is awesome

In [ ]:
#identifying condition

#based on that condition..... identify different situations......identify actions on those situations

In [53]:
import pandas as pd

data=pd.DataFrame({'ID':range(1,21),'Department':['DL','NLP','ML','BI','NLP','ML','BI','DE','CD','NLP','ML','BI','DE','CD','ML','BI','DE','CD','NLP','ML'],'feature_1':['low','medium','medium','high','medium','low','medium','medium','high','low','medium','high','high','low','medium','medium','high','low','medium','medium']})

In [54]:
data

    ID Department feature_1
0    1         DL       low
1    2        NLP    medium
2    3         ML    medium
3    4         BI      high
4    5        NLP    medium
5    6         ML       low
6    7         BI    medium
7    8         DE    medium
8    9         CD      high
9   10        NLP       low
10  11         ML    medium
11  12         BI      high
12  13         DE      high
13  14         CD       low
14  15         ML    medium
15  16         BI    medium
16  17         DE      high
17  18         CD       low
18  19        NLP    medium
19  20         ML    medium

In [55]:
data['Department'].value_counts()

ML     5
NLP    4
BI     4
DE     3
CD     3
DL     1
Name: Department, dtype: int64

In [ ]:
=... assignment operator

In [56]:
data['Department'] == 'NLP'

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: Department, dtype: bool

In [57]:
data['Department']=='NLP' #masked #conditional

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: Department, dtype: bool

In [58]:
Comparison operators ==,<,>,<=,>= ,!= => True/False

SyntaxError: invalid syntax (891968849.py, line 1)

In [59]:
data[data['Department']=='NLP']

    ID Department feature_1
1    2        NLP    medium
4    5        NLP    medium
9   10        NLP       low
18  19        NLP    medium

In [60]:
s1 = "Python"
s2 = "python"

In [61]:
s1

'Python'

In [62]:
s2

'python'

In [ ]:
#comparision operators can be applied for strings

#case sensitive

In [63]:
print(s1 == s2)

False

In [64]:
print(s1 != s2)

True

In [65]:
print(s1 >= s2)

False

In [66]:
print(s1 <= s2)

True

In [67]:
t1='python'
t2='python'

print(t1 == t2)

True

In [ ]:
#Memership operators : in , not in
    
#presence of an element in collection

In [68]:
l = [100,200,300,400,500]

In [69]:
type(l)

list

In [70]:
200 in l

True

In [71]:
400 in l

True

In [72]:
100 in [100,200,300,400,500]

True

In [73]:
4000 in l

False

In [ ]:
# when we use Membership operator, we get output as True or False

#looks for the presence of element

In [74]:
not in

SyntaxError: invalid syntax (2330520181.py, line 1)

In [75]:
4000 not in l

True

In [ ]:
If we apply membership operator, we get true or false

In [76]:
#membership operator work with strings in a list
list=['name','mobile','id','email']

In [77]:
'id' in list

True

In [78]:
type('id' in list)

bool

In [79]:
print('id' in list)

True

In [ ]:
#for loops..... in... iterative statements....

In [80]:
#we also can use membership operator for strings
s1 = "Python"

In [81]:
#looking for presence of character in string
"n" in s1

True

In [82]:
print("n" in s1)

True

In [83]:
s1 = "Python"
print("P" not in s1)

False

In [84]:

print("p" not in s1)

True

In [85]:
char='e'
char in 'aeiou'

True

In [ ]:
#char in 'aeiou'

In [86]:
char='a'

if char in 'aeiou':
    print('char is vowel')
else:
    print('char is not vowel')

char is vowel

In [ ]:
#check whether a character is vowel or not?

In [87]:
#aeiou

#'aeiou'

char='z'
char in 'aeiou'

False

In [88]:
char='i'
char in 'aeiou'

True

In [89]:
#vowels: aieou

#checking whether a character is vowel or not

's' in 'aieou'

False

In [90]:
'i' in 'aieou'

True

In [91]:
char='e'

if char in 'aieou':
    print('this is vowel')
else: 
    print('this is not vowel')

this is vowel

In [ ]:
#also use membership operators in conditional statements

In [92]:
num1 = 100

In [ ]:
                     num1
memory_location..... 100

In [93]:
id(num1)

1641142048208

In [94]:
num1 = 100 
print(id(num1))

1641142048208

In [95]:
print(num1,id(num1))

100 1641142048208

In [96]:
num1 = 200
print(num1,id(num1))

200 1641142051472

In [97]:
num1 = 100 
print(num1,id(num1))



id() : memory location
200 num1


num1 = 200
print(num1,id(num1))

SyntaxError: illegal target for annotation (320743805.py, line 6)

In [98]:
l = [10,20,30,40]
print(l)
print(id(l))

[10, 20, 30, 40]
1641273619584

In [99]:
#append helps to add an element at the end of the list
l.append(50)
print(l)

[10, 20, 30, 40, 50]

In [100]:
print(id(l))

print(l)

1641273619584
[10, 20, 30, 40, 50]

In [101]:
s = {10,20,20,20,30,30,30,40,50}
print(type(s),s)

<class 'set'> {50, 20, 40, 10, 30}

In [101]:
#Unsupported Operators
s1 = "Python"
s2='Python'
s2 = "Java"
print(s1 - s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [102]:
#Concatenation
print(s1 + s2)

Pythonpython

In [103]:
role_1='student'

In [104]:
role_1='student'
    
role_2='trainer'
    
#role:researcher
    
#role:operations
    
id_1='SDS2017'

id_2='TDS3014'

In [105]:
print('surgeclasses roles with ids')
print(role_1+id_1)

surgeclasses roles with ids
studentSDS2017

In [106]:
#student_SDS2017

'student'+'_'+'SDS2017'

'student_SDS2017'

In [ ]:
different db

internet
income

internet_159
income_256

In [107]:
role_2+'_'

'trainer_'

In [108]:
role_2+'_'+id_2

'trainer_TDS3014'

In [109]:
print(role_2+'_'+id_2)

trainer_TDS3014

In [110]:
5 in 500

TypeError: argument of type 'int' is not iterable

In [111]:
5 in '500'

TypeError: 'in <string>' requires string as left operand, not int

In [111]:
'5' in '500'

True

In [112]:
#Non iterable
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [113]:
s1 = "Python"

In [114]:
"n" in s1

True

In [115]:
#iterable

print("n" in s1)

True

In [116]:
#iterable
l = [100,200,300,400,500]
print(100 in l)

True

In [ ]:
in, not in (memebrship operators) will not work with int,float

in, not in work with str,list,tuple,set,dict

In [ ]:
Not iterable datatypes: int,flaot 
Iterable datatypes: str,tuple,list,dict,set

In [ ]:
if condition:
    if statement will be executed when condition is true
else:
    else statment will be executed when condition is false

In [ ]:
for i in iterable datatype:
    use(i)

In [117]:
for i in [100,200,300]:
    print(i)

100
200
300

In [118]:
'a' in 'aieou'

True

In [119]:
's' in 'aieou'

False

In [121]:
3 in 330

TypeError: argument of type 'int' is not iterable

In [ ]:
Opeartors :
    1. Arithmetic Operator : +,-,*,/,**, 
                    // => floor division ,% => mod(reminder), / => Truedivision 
    2. Comparison operators ==,<,>,<=,>= ,!= => True/False 
    3. Memership operators : in , not in
    4. Identity Operators : is , is not
    5. Assignment operator =,+=,-=,*=,/=
    6. Logical Operators and or not
    
    ceil... floor

In [120]:
num1 = 1000
num2 = 1000

In [121]:
print(num1 == num2)

True

In [122]:
print(num1 is num2)

False

In [123]:
id(num1)

1641273633840

In [124]:
id(num2)

1641273633680

In [125]:
l1 = [10,20,30]
l2 = [10,20,30]

In [126]:
print(l1 == l2)

True

In [127]:
print(l1 is l2)

False

In [ ]:
== same Values
is same Memory Location

is identity operator

In [ ]:
== .......=> comparison operator.... checks equality

= ........=> assignment operator

In [128]:
num1 = 100 

#num1 |100|

In [129]:
id (num1)

1641142048208

In [130]:
      num1
......|100|

SyntaxError: invalid syntax (1475497531.py, line 2)

In [131]:
print(num1)

100

In [132]:
num1 += 10

#incrementing and assigning
#num1 |110|

In [133]:
#num1=num1+10

In [134]:
num1=num1+10

In [135]:
print(num1)

120

In [ ]:
     num1
......|110|

In [136]:
print(num1)

120

In [137]:
num1=num1+10

In [138]:
print(num1)

130

In [139]:
# num1 = num1 + 10
print(num1)

130

In [140]:
num1 = 1000 
print(num1)

1000

In [141]:
num1 += 100 
print(num1)
num1 += 100
print(num1)
num1 += 100
print(num1)
num1 += 100
# num1 = num1 + 100
print(num1)

1100
1200
1300
1400

In [142]:
num1 = 1000 
print(num1)

1000

In [143]:
print(num1)
num1 += 100 
print(num1)
num1 += 100
print(num1)
num1 += 100
print(num1)
num1 += 100
# num1 = num1 + 100
print(num1)

1000
1100
1200
1300
1400

In [ ]:
num1 |1000|

num1 += 100 

after executing this, 

num1 |1100| since num1 = num1 + 100

num1 += 100

num1 |1200|
num1 += 100

num1 |1300|
num1 += 100

num1 |1400|
# num1 = num1 + 100
print(num1)

In [144]:
num1=100

In [145]:
num1 -= 5
print(num1)

95

In [146]:
print(100 != 100)

False

In [147]:
print(100 == 100 )

True

In [ ]:
marks=67

marks_cut_off=40

attendance=74

attendance_cutoff=75

#condition: marks>=marks_cut_off
            attendance>= attendance_cutoff
    
    passed: T T
            
T T passed
T F failed
F T failed
F F failed

Truth tables

logical.... AND

T T T
T F F
F T F
F F F

OR

T T T
T F T
F T T
F F F

In [148]:
marks=25
marks_cut_off=20

In [149]:
if marks>=marks_cut_off:
    print('passed')
else:
    print('failed')

passed

In [150]:
marks=67

marks_cut_off=40

attendance=74

attendance_cutoff=70

#condition: marks>=marks_cut_off
            # attendance>= attendance_cutoff

In [151]:
marks>=marks_cut_off

True

In [152]:
attendance>= attendance_cutoff

True

In [153]:
(marks>=marks_cut_off) and (attendance>= attendance_cutoff)

True

In [154]:
if (marks>=marks_cut_off) and (attendance>= attendance_cutoff): #(67>=40) and (74>=70) T and T
    print('passed')
else:
    print('failed')

passed

In [155]:
print(100 == 100 )

True

In [156]:
print(100 != 100 )

False

In [157]:
print(100 != 100 or 100 == 100 )
print(100 != 100 and 100 == 100 )

True
False

In [ ]:
False or True..... True
false and True... False

In [ ]:
Iterable :
    string , list ,dict ,set ,tuple 
    
Not Iterable : int ,float

In [158]:
s='surge classes'

In [159]:
type(s)

str

In [160]:
s[1]

'u'

In [161]:
s[5]

' '

In [162]:
del(s[1])

TypeError: 'str' object doesn't support item deletion

In [163]:
s[1]='s'

TypeError: 'str' object does not support item assignment

In [162]:
my_list=[10,20,30]

my_list[2]=3000

In [163]:
my_list

[10, 20, 3000]

In [ ]:
Immutable :
    int 
    float 
    str
    tuple
    
Mutable : (Add,Update and Delete) 
    list
    dict 
    set
 
Mutable : Add,Update and delete operations
Immutable : Can not perform add,update,delete

In [ ]:
True/False :
    comparison ==,!=,<,>,=,>= 
    membership 
    logical 
    identity operators