In [ ]:
#programming language: PYTHON

#Processing Information
gmail- abc@gmail.com
phone numbr - 12345578

integers
strings
floats
booleans

## integers

1,2,3,4

In [1]:
a=10 #creating variable

In [2]:
id(a) #memory adress

2073532197456

In [3]:
2953308629584   a  |10|

SyntaxError: invalid syntax (1887334935.py, line 1)

In [4]:
#Variables
a=10.5

In [5]:
type(a)

float

In [6]:
a="Krishna"
type(a)

str

In [7]:
a=100
type(a)

int

In [8]:
a='100'
type (a)

str

In [9]:
a=10

In [10]:
at memory loc  a 10

SyntaxError: invalid syntax (4156593280.py, line 1)

In [ ]:
#algebra

#Variables (we store values) & Constants(Values)

In [11]:
#variable creation

a=10

#what happens?

#what do we call it?

In [12]:
id(a)

2073532197456

In [ ]:
2953308629584 a |10|

In [13]:
type(a)

int

In [14]:
b=10.5

In [15]:
id(b)

2073619298704

In [ ]:
2953389266160 b|10.5|

In [16]:
type(b)

float

In [17]:
a=10

In [18]:
a

10

In [ ]:
id()....... memory address of the variable
type()..... type of the variable... what kind of value is present

In [19]:
a=100

In [20]:
a

100

In [21]:
a=1000

In [22]:
a

1000

In [ ]:
a=100
........ a|100|

a=1000

........ a|1000|

a

1000

In [23]:
#=  .......> assignment operator

a=10

#we are assigning value 10 to a

In [24]:
# we need to work on different kinds of data (different kinds of values) at different situations

In [25]:
#numeric values
a=10

b=10.5

In [26]:
a

10

In [27]:
type(a)

int

In [28]:
b

10.5

In [23]:
type(b)

float

In [29]:
#text data...... quotes
c= 'Surge Classes'

#c|'Surge CLasses'|

In [30]:
type(c)

str

In [ ]:
#string type..... quotes..... text

In [ ]:
datatypes:
    
    what kind of data that variable is storing
    
    type()

In [31]:
#giving numbers in quotes makes this variable as str type
c= '100'

In [32]:
type(c)

str

In [ ]:
in some variable, Internet Inclination level 

1 less
2
3
4
5 more

5 levels.... 5 possibilities

1 lakh 

#Categorical nature
#looks like numerical

#selectdtype

In [ ]:
id()
type()
def
if else
for
return

In [ ]:
keywords of programming language...

32 keywords... C
50 keywords.... Java
.. python

def

for

if

if else

In [33]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [34]:
c=100 #single assignment

In [35]:
#Multiple assignment is possible in python
a,b=101,1001

In [36]:
id(a)

2073532388848

In [37]:
id(b)

2073619298064

In [38]:
a

101

In [39]:
b

1001

In [40]:
#these are marks of five students from same class

s_1=24

s_2= 12

s_3= 15

s_4=7

s_5= 19

In [41]:
#we need to handle some collection of data.... some group of data

In [42]:
id(s_1)

2073532197904

In [43]:
id(s_2)

2073532197520

In [44]:
d=[1,2,3]

#creating a list

In [45]:
type(d)

list

In [46]:
id(d)

2073619192320

In [47]:
2953389711104 d |[1,2,3]]|

SyntaxError: invalid syntax (339005060.py, line 1)

In [48]:
d

[1, 2, 3]

In [49]:
d[0]

1

In [50]:
d[1]

2

In [51]:
d[2]

3

In [47]:
d[3]

IndexError: list index out of range

In [ ]:
#index 

# a list is a collection of elements

#each individual element of list is having a corresponding index

# we access that individual element using that index

# it starts with 0

#it ends with number of elements in the list-1

d[1,2,3]
  0,1,2..... index
    
first element d[0]=1
second element d[1]=2
third element  d[2]=3


#indexing

#accessing

In [52]:
student_marks=[17,19,24,12,7]

In [53]:
student_marks[3]

12

In [54]:
student_marks[4]

7

In [55]:
#17 
student_marks[0]

17

In [56]:
e= [[1,2,3],[100,200,300,400]]
e

[[1, 2, 3], [100, 200, 300, 400]]

In [57]:
e[1] #second element of e

[100, 200, 300, 400]

In [58]:
#a list can be a collection of lists

In [59]:
type(e)

list

In [60]:
type(e[1])

#e[1]... list

list

In [61]:
e[1]

[100, 200, 300, 400]

In [62]:
#accessing individual elements of a list inside a collection of lists
e[1][2]

300

In [ ]:
#e[1][2]

data rows columns
data[r_position][c_position]

In [63]:
f=[1,2,[10,20]]

f[0]

1

In [64]:
f[1]

2

In [65]:
f[2]

[10, 20]

In [ ]:
#we can create list of strings

In [66]:
f=[10,20,30,40,"Python","Java",[100,200,300,400]]

In [67]:
f

[10, 20, 30, 40, 'Python', 'Java', [100, 200, 300, 400]]

In [ ]:
"""
data.... rows.... COLUMNS

Pandas Hetregenious
numpy  homogenious

In [68]:
list_1=[100,'100']

In [69]:
list_1

[100, '100']

In [70]:
list_1[0]

100

In [71]:
type(list_1[0])

#int
#100

int

In [72]:
type(list_1[1])

str

In [73]:
#

packages_list=['pandas','numpy','sklearn','scipy','matplotlib','seaborn','plotly','dash','nltk','hugging face','stanford core NLP','spacy','caffe','tensorflow','keras','pytorch',]

In [74]:
packages_list

['pandas',
 'numpy',
 'sklearn',
 'scipy',
 'matplotlib',
 'seaborn',
 'plotly',
 'dash',
 'nltk',
 'hugging face',
 'stanford core NLP',
 'spacy',
 'caffe',
 'tensorflow',
 'keras',
 'pytorch']

In [75]:
id(packages_list)

2073619574912

In [76]:
type(packages_list)

list

In [77]:
packages_list[6]

'plotly'

In [ ]:
# we use index to access the individual elements of a list

#datatypes tells what kind of data is stored in the variable

#python Datatypes

int
float
str
list

In [78]:
g=[1,2,3]

type(g)

list

In [79]:
g=(1,2,3)
type(g)

tuple

In [80]:
id(g)

2073619399424

In [81]:
h= (10,20,30,40,"Python","Java")

type(h)

tuple

In [82]:
i= {10,20,30,40}

type(i)

set

In [83]:
i

{10, 20, 30, 40}

In [84]:
j= {10,20,20,30,40}
j

{10, 20, 30, 40}

In [85]:
list_1=[10,20,20,30,40]

list_1

[10, 20, 20, 30, 40]

In [86]:
list_1=[1,2,2,3,4]

list_1

[1, 2, 2, 3, 4]

In [87]:
tuple_1=(1,2,2,2,3,4)

tuple_1

(1, 2, 2, 2, 3, 4)

In [ ]:
'Name':'Krishna Swamy Jalla'
'Mobile':9167797971
'Email':'krishnas3430@gmail.com'
'Surge Student ID': 'SCDS00201'
'Address':'Bangalore'
'performance':7
    
'Name':'Tarun Sura'
'Mobile':9505896695
'Email':'tarunsura@gmail.com'
'Surge Student ID': 'SCDS00202'
'Address':'Hyderabad'
'performance':9
    
KEY Value pair format

'Name':'Thoran krishna'
'Mobile':9494501494
'Email': 'thorankrishna@gmail.com'
'Surge student id':'SCDS00203'
'Address':'Banglore'
'Performance':10
    
json type

student={'key_1':value_1,'key_2':value_2}

student={'age':21,'marks':10,'name':'Thoran Krishna'}

my_first_dict={key:value,key_2:value_2}

In [ ]:
#dict: dictionary

json format

key value pair

students..

student
name:'krishna'
roll
age
marks
rank

In [88]:
j={'name':'krishna','no':2017,"email":"abc@gmail.com","contact":9745577888,"age":57}

type(j)

dict

In [ ]:
# keys in j dictionary:

In [89]:
a=False

type(a)

bool

In [ ]:
Datatypes : 
    1. int 10 15 
    2. float 10.255 56.555
    3. str 'Hi' "Python" """Welcome to python """ '100' 'SCDS00201'
    4. list [45,70,80,50,60] [10,20,30,40,"Python","Java",[100,200,300,400]]
    5. tuple (10,20,30,40,"Python","Java")
    6. dict {"email":"abc@gmail.com","contact":9744455778,"age":57}
    7. set {10,20,30,40}
    8. bool True False
    None

In [ ]:
#back_order_df

In [ ]:
_ageme, age2, age3 = 10, True, 30

rules to name the variables

1. meaningful
2. should not start a variable name with number
3. should not use special characters, @, #, $, %^&
4. u can use "_"

In [90]:
#list can contain lists,int,floats also strings
#set has only unique elements
#tuple can have both numbers and strings
#index gives you position of individual element
#index starts from 0
#making numeric a string
my_type='9167797971'

#this will not be executed

# commenting

#test=1000

In [ ]:
list = [1,2,3]
tuple = (12,3)

id -> give the address of the variable
list
tuple
def
return
if
else
for
while